* {
  font-family: helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(231, 248, 255);
  color: rgb(85, 85, 85);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
  max-width: 80px;
  height: auto
}

a {
  cursor: pointer;
  text-decoration: none;
}

.outerBox {
  padding: 2em;
}

#topbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2px;
  background-color: white;
}

#topbar a {
  font-size: 1em;
  color: rgb(163, 163, 163)
}

.topbarItem {
  padding-left: 2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: normal
}

form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  /* flex-grow: 3em; */
  margin-top: 2em;
  max-width: 800px;
}

form input {
  width: 18em;
  padding: 0.8em;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}

form select {
  width: 20em;
  border: 1px lightslategray;
  padding: 0.3em;
  margin: 0.5em 0;
  font-size: 1em;
}

form button {
  margin-top: 1.5em;
  width: 10em;
  font-size: 1em;
  padding: 0.3em;
}

form button:disabled {
  background-color: #ccc;
  cursor: default
}
