* {
  font-family: helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(231, 248, 255);
  color: rgb(85, 85, 85);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
  max-width: 80px;
  height: auto
}

a {
  cursor: pointer;
  text-decoration: none;
}

.outerBox {
  padding: 2em;
}

#topbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2px;
  background-color: white;
}

#topbar a {
  font-size: 1em;
  color: rgb(163, 163, 163)
}

.topbarItem {
  padding-left: 2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: normal
}
