* {
  font-family: helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(231, 248, 255);
  color: rgb(85, 85, 85);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

img {
  width: 100%;
  max-width: 80px;
  height: auto
}

a {
  cursor: pointer;
  text-decoration: none;
}

.outerBox {
  padding: 2em;
}

#topbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2px;
  background-color: white;
}

#topbar a {
  font-size: 1em;
  color: rgb(163, 163, 163)
}

.topbarItem {
  padding-left: 2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: normal
}

form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 2em;
  max-width: 800px;
}

form input {
  width: 18em;
  padding: 0.8em;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 3px;
}

form select {
  cursor: pointer;
  width: 18em;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 0;
  font-size: 1em;
}

form select:disabled {
  color: #999;
}

form button {
  cursor: pointer;
  width: 18em;
  background-color: rgb(67, 180, 67);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 1.5em;
  padding: 1em;
  font-size: 1em;
}

form button:disabled {
  background-color: #ccc;
  cursor: default
}

@media only screen and (max-width: 630px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  .outerBox {
    text-align: center;
  }

  form {
    justify-content: center
  }

  form input {
    margin-right: 0;
  }
}
